{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="w-full h-[100vh] flex justify-center items-center">
        <div class="flex gap-20">
            <div class="flex flex-col justify-between">
                <div>
                    <h2><a href="">Profile</a></h2>
                </div>
                <div>
                    <h2><a href="">Bonne pratiques</a></h2>
                </div>
                <div>
                    <h2><a href="{{ path('app_quizz') }}">Commencer le quizz</a></h2>
                </div>
            </div>
            <div>
                <h2>Classement</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in ranks %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>
#}

    {#
    <section class="w-full 2xl:h-[100vh] h-[15vh] flex justify-center items-center">

        <div class="ml-[27px] 2xl:ml-[160px] mt-[43px] 2xl:mt-[300px] flex max-w-[336px] 2xl:max-w-[1575px]">
            <div>
                <h1 class="text-[64px] " >
                    Questionnnaire
                </h1>
                <p class="pt-[30px] max-w-[630px]">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, .
                </p>

                <button class="rounded-full h-[60px] w-[240px] bg-blue-300 ml-[350px] mt-[50px]">
                    Démarer le quizz
                </button>
            </div>
            <img class="ml-[295px]" src={{ asset('img/home.png') }}>
        </div>


    </section>
    #}

    <section class=" flex justify-center items-center w-[336px] h-[122px] border-4 mt-[800px] ml-[27px]">

        <div class="flex">
            <div class="justify-center items-center">
                <h1 class="collapse" >
                    Questionnnaire
                </h1>
                <p class="text-[9px]">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre
                </p>

                <button class="rounded-full h-[23px] w-[112px] bg-red-400  mt-[8px] text-[12px]">
                    Démarer le quizz
                </button>
            </div>
            <img class="w-[117px] h-[88px] mt-[17px]" src={{ asset('img/home.png') }}>
        </div>


    </section>

    <section class=" ml-[130px] ">
        <h2 class="text-[64px]">
            Récompense
        </h2>
        <div class="flex w-[1625px] h-[385px] border-4 border-sky-400">
            <div class="justify-center items-center mr-[70px] ml-[75px] ">
                <h3 class="text-center mt-[25px]">
                    1er prix
                </h3>
                <img class="mt-[38px] ml-[45px]" src={{ asset('img/homeMini.png') }}>
                <p class="mt-[25px] mb-[60px] text-[20px]">
                    Hoc inmaturo interitu ipse quoque sui
                </p>
            </div>
            <div class="justify-center items-center mr-[70px]">
                <h3 class="text-center mt-[25px]">
                    1er prix
                </h3>
                <img class="mt-[38px] ml-[45px]" src={{ asset('img/homeMini.png') }}>
                <p class="mt-[25px] mb-[60px] text-[20px]">
                    Hoc inmaturo interitu ipse quoque sui
                </p>
            </div>
            <div class="justify-center items-center mr-[70px]">
                <h3 class="text-center mt-[25px]">
                    1er prix
                </h3>
                <img class="mt-[38px] ml-[45px]" src={{ asset('img/homeMini.png') }}>
                <p class="mt-[25px] mb-[60px] text-[20px]">
                    Hoc inmaturo interitu ipse quoque sui
                </p>
            </div>
            <div class="justify-center items-center ">
                <h3 class="text-center mt-[25px]">
                    1er prix
                </h3>
                <img class="mt-[38px] ml-[45px]" src={{ asset('img/homeMini.png') }}>
                <p class="mt-[25px] mb-[60px] text-[20px]">
                    Hoc inmaturo interitu ipse quoque sui
                </p>
            </div>
        </div>


    </section>
    <section>
        <h2 class="text-[64px]">
            Flashcard
        </h2>
        <div class="flex w-[1765px] h-[506px]">
            <div class="w-[430px] h-[506px] border-4 ml-[129px] justify-center items-center">
                <h3 class="mt-[20px] text-center ">
                    le saviez-vous
                </h3>
                <img class="mt-[40px] mb-[51px] ml-[63px]" src={{ asset('img/homeMoyen.png') }}>
                <p class="text-[20px] text-center">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
            </div>
            <div class="w-[430px] h-[506px] border-4 ml-[78px] justify-center items-center mb-[93px]">
                <h3 class="mt-[20px] text-center ">
                    le saviez-vous
                </h3>
                <img class="mt-[40px] mb-[51px] ml-[63px]" src={{ asset('img/homeMoyen.png') }}>
                <p class="text-[20px] text-center">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
            </div>
            <div class="w-[430px] h-[506px] border-4 ml-[78px] justify-center items-center">
                <h3 class="mt-[20px] text-center ">
                    le saviez-vous
                </h3>
                <img class="mt-[40px] mb-[51px] ml-[63px]" src={{ asset('img/homeMoyen.png') }}>
                <p class="text-[20px] text-center">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
            </div>
            <div class="h-[156px] justify-center items-center mb-[256px] ml-[70px] mt-[135px]">
                <h3 class="mb-[52px] ml-[20px]">
                    Voir plus
                </h3>
                <img class="" src={{ asset('img/voir.png') }}>
            </div>
        </div>
    </section>
{% endblock %}
