{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="w-full h-[100vh] flex justify-center items-center">
        <div class="flex gap-20">
            <div class="flex flex-col justify-between">
                <div>
                    <h2><a href="">Profile</a></h2>
                </div>
                <div>
                    <h2><a href="{{ path('app_cards') }}">Bonne pratiques</a></h2>
                </div>
                <div>
                    <h2><a href="{{ path('app_quizz') }}" id="begin">Commencer le quizz</a></h2>
                </div>
            </div>
            <div>
                <h2>Classement</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in ranks %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>
#}



    <section class=" flex justify-center items-center w-[336px] h-[122px] border-4  m-auto lg:w-full lg:h-[100vh] lg:border-transparent">

        <div class="flex lg:ml-[160px] lg:mt-[100px] justify-center items-center">
            <div class="justify-center items-center">
                <h1 class="collapse lg:text-[64px] lg:visible" >
                    Questionnnaire
                </h1>
                <hr class="w-[610px] border-2">
                <p class="text-[9px] lg:pt-[30px] lg:max-w-[630px] lg:text-[15px]">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre
                </p>

                <button class="rounded-full h-[23px] w-[112px] bg-red-400  mt-[8px] ml-[30px] text-[12px] lg:h-[60px] lg:w-[240px] lg:bg-blue-300 lg:ml-[0px] lg:mt-[50px]">
                    Démarer le quizz
                </button>
            </div>
            <img class="w-[117px] h-[88px]  lg:ml-[95px] lg:w-[758px] lg:h-[597px]" src={{ asset('img/planet.svg') }}>
        </div>


    </section>

    <section class="  bg-new-red h-[630px] w-full pt-[10px]">
        <h2 class="text-[64px] ml-[100px] text-white">
            Récompense
        </h2>
        <div class="flex w-[1625px] h-[385px] ml-[109px]">
            <div class="justify-center items-center mr-[70px] w-[389px] h-[442px] bg-white rounded-xl">

                <img class="m-auto mt-[22px]" src={{ asset('img/scoot.png') }}>
                <p class="w-[180px] ml-[101px] mt-[10px] text-center">
                    Un Scooter élétrique
                    a gagné
                </p>
            </div>
            <div class="justify-center items-center w-[389px] h-[442px] mr-[70px] bg-white rounded-xl">

                <img class="mt-[38px] ml-[45px]" src={{ asset('img/bike.png') }}>
                <p class="w-[180px] ml-[101px] mt-[10px] text-center">
                    Un vélo élétrique
                    a gagné
                </p>

            </div>
            <div class="justify-center items-center w-[389px] h-[442px] mr-[70px] bg-white rounded-xl">

                <img class="mt-[38px] ml-[45px]" src={{ asset('img/brose.png') }}>
                <p class="w-[250px] ml-[65px] mt-[12px] text-center">
                    Des produits cosmétiques
                    Bio et Responsable a gagné
                </p>

            </div>
            <div class="justify-center items-center w-[389px] h-[442px] bg-white rounded-xl">

                <img class="mt-[38px] ml-[45px]" src={{ asset('img/shop.png') }}>
                <p class="w-[180px] ml-[101px] mt-[32px] text-center">
                    Des Bons d’achat dans les
                    grandes surfaces en cadeau
                </p>


            </div>
        </div>


    </section>
    <section class="mt-[184px] ml-[107px] pb-[120px]">
        <h2 class="text-[64px] mb-[38px]">
            Flashcard
        </h2>
        <div class="flex w-full h-[506px]">
            <div class="w-[357px] h-[555px] border-4  justify-center items-center rounded-3xl bg-paint-blue bg-no-repeat bg-bottom">

                <img class="m-auto mt-[15px]" src={{ asset('img/light.png') }}>
                <h3 class="text-[35px] ml-[80px] mt-[25px] text-white">
                    Lorem Ipsum
                </h3>
                <p class="text-[14px] text-center w-[200px] ml-[75px] mt-[10px] text-white">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
                <button class=" border-4 ml-[110px] pl-[30px] pr-[30px] rounded-xl text-white border-white mt-[20px]">
                    voir plus
                </button>
            </div>

            <div class="w-[357px] h-[555px] border-4 ml-[45px] justify-center items-center rounded-3xl bg-paint-red bg-no-repeat bg-bottom">

                <img class="m-auto mt-[15px]" src={{ asset('img/light.png') }}>
                <h3 class="text-[35px] ml-[80px] mt-[25px] text-white">
                    Lorem Ipsum
                </h3>
                <p class="text-[14px] text-center w-[200px] ml-[75px] mt-[10px] text-white">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
                <button class=" border-4 ml-[110px] pl-[30px] pr-[30px] rounded-xl text-white border-white mt-[20px]">
                    voir plus
                </button>
            </div>

            <div class="w-[357px] h-[555px] border-4 ml-[45px] justify-center items-center rounded-3xl bg-paint-blue bg-no-repeat bg-bottom">

                <img class="m-auto mt-[15px]" src={{ asset('img/light.png') }}>
                <h3 class="text-[35px] ml-[80px] mt-[25px] text-white">
                    Lorem Ipsum
                </h3>
                <p class="text-[14px] text-center w-[200px] ml-[75px] mt-[10px] text-white">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
                <button class=" border-4 ml-[110px] pl-[30px] pr-[30px] rounded-xl text-white border-white mt-[20px]">
                    voir plus
                </button>
            </div>

            <div class="w-[357px] h-[555px] border-4 ml-[45px] justify-center items-center rounded-3xl bg-paint-red bg-no-repeat bg-bottom">

                <img class="m-auto mt-[15px]" src={{ asset('img/light.png') }}>
                <h3 class="text-[35px] ml-[80px] mt-[25px] text-white">
                    Lorem Ipsum
                </h3>
                <p class="text-[14px] text-center w-[200px] ml-[75px] mt-[10px] text-white">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
                <button class=" border-4 ml-[110px] pl-[30px] pr-[30px] rounded-xl text-white border-white mt-[20px]">
                    voir plus
                </button>
            </div>
            <div class="h-[156px] justify-center items-center mb-[256px] ml-[25px] mt-[195px]">

                <img class="" src={{ asset('img/voir.png') }}>
            </div>

        </div>
    </section>

    <script>
        const begin = document.getElementById('begin');
        begin.addEventListener('click', () => {
            sessionStorage.setItem('score', 0);
        })

    </script>

{% endblock %}
