{% extends 'base.html.twig' %}

{% block body %}
    <section class="w-11/12 flex items-center mx-auto my-14 justify-between">
        <div class="w-2/5 flex flex-col gap-6">
            <h1 class="font-bold text-6xl" >Questionnnaire</h1>
            <hr class="w-full bg-black">
            <p>
                Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, .
            </p>
            <a href="{{ path('app_quizz') }}" class="py-2 px-8 text-white bg-thisGreen rounded-full w-fit text-xl">Démarrer le quizz</a>
        </div>
        <div class="w-2/5">
            <img class="w-full" src={{ asset('img/planet.svg') }}>
        </div>
    </section>

    <section class="bg-new-red w-full py-10">
        <div class="w-11/12 mx-auto">
            <h2 class="text-white text-6xl">
                Récompenses
            </h2>
            <div class="flex justify-between pt-10">

                <div class="reward-card">
                    <img class="" src={{ asset('img/scoot.png') }}>
                    <p class="">
                        Un Scooter élétrique
                        a gagné
                    </p>
                </div>

                <div class="reward-card">
                    <img class="" src={{ asset('img/bike.png') }}>
                    <p class="">
                        Un vélo élétrique
                        a gagné
                    </p>
                </div>

                <div class="reward-card">
                    <img class="" src={{ asset('img/brose.png') }}>
                    <p class="">
                        Des produits cosmétiques
                        Bio et Responsable a gagné
                    </p>
                </div>

                <div class="reward-card">
                    <img class="" src={{ asset('img/shop.png') }}>
                    <p class="">
                        Des Bons d’achat dans les
                        grandes surfaces en cadeau
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="w-11/12 mx-auto my-14">
        <h2 class="text-6xl font-semibold">
            Flashcard
        </h2>

        <div class="flex w-full mt-14 items-center justify-between">

            <div class="flash-card">
                <img src={{ asset('img/light.png') }}>
                <h3>
                    Lorem Ipsum
                </h3>
                <p>
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
            </div>

            <div class="flash-card flash-red">
                <img src={{ asset('img/light.png') }}>
                <h3>
                    Lorem Ipsum
                </h3>
                <p>
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
            </div>

            <div class="flash-card">
                <img src={{ asset('img/light.png') }}>
                <h3>
                    Lorem Ipsum
                </h3>
                <p>
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
            </div>

            <div class="flash-card flash-red">
                <img src={{ asset('img/light.png') }}>
                <h3>
                    Lorem Ipsum
                </h3>
                <p>
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
            </div>

            <div class="hidden">
                <img class="" src={{ asset('img/voir.png') }}>
            </div>
        </div>
    </section>

    <script>
        const begin = document.getElementById('begin');
        begin.addEventListener('click', () => {
            sessionStorage.setItem('score', 0);
        })

    </script>

{% endblock %}
