{% extends 'base.html.twig' %}

{% block body %}

    {#<div class="w-full h-[100vh] flex justify-center items-center">
        <div class="flex gap-20">
            <div class="flex flex-col justify-between">
                <div>
                    <h2><a href="">Profile</a></h2>
                </div>
                <div>
                    <h2><a href="">Bonne pratiques</a></h2>
                </div>
                <div>
                    <h2><a href="{{ path('app_quizz') }}">Commencer le quizz</a></h2>
                </div>
            </div>
            <div>
                <h2>Classement</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in ranks %}
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>

    </div>
#}

    <section class="w-full h-[100vh] flex justify-center items-center">

        <div class=" ml-[160px] mt-[300px] flex">
            <div>
                <h1 class="text-[64px] " >
                    Questionnnaire
                </h1>
                <p class="pt-[30px] max-w-[630px]">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre Constantio Constantini fratre imperatoris, matreque Galla sorore Rufini et Cerealis, quos trabeae consulares nobilitarunt et praefecturae.Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, .
                </p>

                <button class="rounded-full h-[60px] w-[240px] bg-blue-300 ml-[350px] mt-[50px]">
                    Démarer le quizz
                </button>
            </div>
            <img class="ml-[295px]" src={{ asset('img/home.png') }}>
        </div>


    </section>

    <section class=" flex justify-center items-center w-[336px] h-[122px] border-4 mt-[800px] m-auto lg:w-full lg:h-[100vh] lg:border-transparent">

        <div class="flex lg:ml-[160px] lg:mt-[300px]">
            <div class="justify-center items-center">
                <h1 class="collapse lg:text-[64px] lg:visible" >
                    Questionnnaire
                </h1>
                <hr class="w-[610px] border-2">
                <p class="text-[9px] lg:pt-[30px] lg:max-w-[630px] lg:text-[15px]">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset. natus apud Tuscos in Massa Veternensi, patre
                </p>

                <button class="rounded-full h-[23px] w-[112px] bg-red-400  mt-[8px] ml-[30px] text-[12px] lg:h-[60px] lg:w-[240px] lg:bg-blue-300 lg:ml-[0px] lg:mt-[50px]">
                    Démarer le quizz
                </button>
            </div>
            <img class="w-[117px] h-[88px] mt-[17px] lg:ml-[295px] lg:w-[658px] lg:h-[497px]" src={{ asset('img/planet.svg') }}>
        </div>


    </section>

    <section class="  bg-new-red h-[530px] w-full">
        <h2 class="text-[64px] ml-[100px]">
            Récompense
        </h2>
        <div class="flex w-[1625px] h-[385px] ml-[100px]">
            <div class="justify-center items-center mr-[70px] ml-[75px] w-[389px] h-[342px] bg-white rounded-xl">

                <img class="mt-[38px] ml-[45px]" src={{ asset('img/scoot.png') }}>
            </div>
            <div class="justify-center items-center w-[389px] h-[342px] mr-[70px] bg-white rounded-xl">

                <img class="mt-[38px] ml-[45px]" src={{ asset('img/scoot.png') }}>

            </div>
            <div class="justify-center items-center w-[389px] h-[342px] mr-[70px] bg-white rounded-xl">

                <img class="mt-[38px] ml-[45px]" src={{ asset('img/scoot.png') }}>

            </div>
            <div class="justify-center items-center w-[389px] h-[342px] bg-white rounded-xl">

                <img class="mt-[38px] ml-[45px]" src={{ asset('img/scoot.png') }}>


            </div>
        </div>


    </section>
    <section>
        <h2 class="text-[64px]">
            Flashcard
        </h2>
        <div class="flex w-[1765px] h-[506px]">
            <div class="w-[430px] h-[506px] border-4 ml-[129px] justify-center items-center">
                <h3 class="mt-[20px] text-center ">
                    le saviez-vous
                </h3>
                <img class="mt-[40px] mb-[51px] ml-[63px]" src={{ asset('img/homeMoyen.png') }}>
                <p class="text-[20px] text-center">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
            </div>
            <div class="w-[430px] h-[506px] border-4 ml-[78px] justify-center items-center mb-[93px]">
                <h3 class="mt-[20px] text-center ">
                    le saviez-vous
                </h3>
                <img class="mt-[40px] mb-[51px] ml-[63px]" src={{ asset('img/homeMoyen.png') }}>
                <p class="text-[20px] text-center">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
            </div>
            <div class="w-[430px] h-[506px] border-4 ml-[78px] justify-center items-center">
                <h3 class="mt-[20px] text-center ">
                    le saviez-vous
                </h3>
                <img class="mt-[40px] mb-[51px] ml-[63px]" src={{ asset('img/homeMoyen.png') }}>
                <p class="text-[20px] text-center">
                    Hoc inmaturo interitu ipse quoque sui pertaesus excessit e vita aetatis nono anno atque vicensimo cum quadriennio imperasset.
                </p>
            </div>
            <div class="h-[156px] justify-center items-center mb-[256px] ml-[70px] mt-[135px]">
                <h3 class="mb-[52px] ml-[20px]">
                    Voir plus
                </h3>
                <img class="" src={{ asset('img/voir.png') }}>
            </div>
        </div>
    </section>
{% endblock %}
