{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% include 'partial/header.html.twig' %}
    <section class="w-full h-[80vh] flex items-center">
        <div class="w-1/2 text-new-red px-48">
            {{ form_start(registrationForm) }}
                <h1 class="text-3xl border-b-2 text-center pb-2">Inscription</h1>
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </div>

    </section>


{% endblock %}
