{% extends 'base.html.twig' %}

{% block body %}

    <div class="w-full h-[100vh] flex justify-center items-center flex-col gap-6">
        <h1 class="py-4 px-8 bg-gray-500">{{ question.title }}</h1>
        <div class="progress-bar-container relative w-full">
            <div class="progress-bar absolute top-0 left-0 bg-black h-[2px]"></div>
        </div>


        <div class="grid grid-cols-2 gap-4 select-none" id="answers">
            {% for key,answer in question.answers %}
                <label for="{{ key }}" class="py-10 px-20 bg-gray-500">
                    <input type="radio" name="answer" id="{{ key }}" value="{{ key }}">
                    <span>{{ answer }}</span>
                </label>
            {% endfor %}
        </div>
        {% if nextQuestion is not null %}
            <a href="{{ path('app_question', {id: nextQuestion.id}) }}" onclick="verif()">Question suivante</a>
        {% else%}
            <form id="scoreForm" method="post" action="{{ path('app_submit_ranking') }}" style="display: none;">
                <input type="hidden" name="score" id="scoreInput">
                <input type="hidden" name="name" id="name">
            </form>
            <a id="validation" href="#" onclick="submitScore()">Valider</a>
        {% endif %}
    </div>

    <script>
        function submitScore() {
             // Récupérez le nom d'utilisateur ou utilisez 'Anonyme' par défaut
            document.getElementById('name').value = sessionStorage.getItem('name') || 'Anonyme';
            document.getElementById('scoreInput').value = score;
            document.getElementById('scoreForm').submit();
        }

        let score = sessionStorage.getItem("score") ? parseInt(sessionStorage.getItem("score")) : 0;
        let answered = false;

        function verif(){
            if (answered) {
                return; // Si la question a déjà été répondue, sortez de la fonction.
            }

            const answer = document.querySelector('input[name="answer"]:checked').value;
            let rightAnswer = {{ question.rightAnswer }};
            if(parseInt(answer) === parseInt(rightAnswer)){
                score++;
            }
            sessionStorage.setItem("score", score.toString());

            answered = true; // Marquez la question comme ayant été répondue.
        }
    </script>
    </script>

{% endblock %}
