{% extends 'base.html.twig' %}

{% block body %}

    <div class="w-full h-[100vh] flex justify-center items-center flex-col gap-6">
        <h1 class="py-4 px-8 bg-gray-500">{{ question.title }}</h1>
        <div class="progress-bar-container relative w-full">
            <div class="progress-bar absolute top-0 left-0 bg-black h-[2px]"></div>
        </div>

        <div>
            <p>Score : {{ user_score }}</p>
        </div>

        <div class="grid grid-cols-2 gap-4 select-none" id="answers">
            {% for key,answer in question.answers %}
                <label for="{{ key }}" class="py-10 px-20 bg-gray-500">
                    <input type="radio" name="answer" id="{{ key }}" value="{{ key }}">
                    <span>{{ answer }}</span>
                </label>
            {% endfor %}
        </div>

        {% if nextQuestion is not null %}
            <button type="button" id="submit-answer-button">Question suivante</button>
        {% else %}
            <form method="post" action="{{ path('app_submit_ranking') }}">
                <input type="hidden" name="name" value="{{ app.user.name }}">
                <input type="hidden" name="score" value="{{ user_score }}">
                <button type="submit">Valider</button>
            </form>
        {% endif %}
    </div>

    <script>
        const submitAnswerButton = document.getElementById('submit-answer-button');
        const answerRadios = document.querySelectorAll('input[type="radio"][name="answer"]');

        submitAnswerButton.addEventListener('click', () => {
            let selectedAnswer = null;
            answerRadios.forEach((radio) => {
                if (radio.checked) {
                    selectedAnswer = radio.value;
                }
            });

            if (selectedAnswer !== null) {
                const form = document.createElement('form');
                form.method = 'post';
                form.action = '{{ path('app_question', {id: question.id}) }}';

                const answerInput = document.createElement('input');
                answerInput.type = 'hidden';
                answerInput.name = 'answer';
                answerInput.value = selectedAnswer;
                form.appendChild(answerInput);

                form.submit();
            }
        });
    </script>

{% endblock %}
