<header class="w-full flex justify-between items-center py-4 px-8 bg-new-green rounded-b-[28px]">
    <img class="" src="{{ asset('img/newlog.png') }}">
    <nav class="text-white">
            <ul class="flex gap-20">
                <li class=""><a href="{{ path('app_index') }}">Accueil</a></li>
                <li class=""><a href="{{ path('app_quizz') }}">Questionnaire</a></li>
                <li class=""><a href="{{ path('app_cards') }}">Solutions</a></li>

                {% if app.user %}
                    <li><a class="" href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{{ path('app_login') }}">Connexion</a></li>
                {% endif %}
            </ul>
        </nav>
</header>